<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Monsieur {{name}},</p>
    <p>Welcome to Goodies! </p>
    <p>Your account has been successfully created with the following details:</p>
    <p>Email: {{email}}</p>
    <p>Password: {{password}}</p>
    <p>You can now log in and enjoy our platform!</p>
    <!-- You might include additional information or links here -->
  </body>
</html>