<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Hi {{name}},</p>
    <p>Welcome to our platform! You requested to activate your account.</p>
    <p>Please, click the link below to activate your account:</p>
    <a href="{{link}}">Activate Account</a>
  </body>
</html>