@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@500&display=swap');

.form-Container{
    gap: 10px;
    width: 100%;
}
input:focus{
    outline: none;
}
input:focus-visible{
    outline: none;
}
.login-Form{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Link{
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    color: #183D3D;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}
.Link:hover{
    cursor: pointer;
    color: #5C8374;
}
.Header-Login{
    font-family: 'Roboto', sans-serif;
    color: #183D3D;
    font-size: 30px;
    font-weight: 500;
    align-self: center  ;

}
.button-Container{
    width: 100%;
    display: flex;
    justify-content: space-between ;
}