nav{
	position:absolute;
	top:0;
	left:0;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	width: 18%;
	min-height: 100vh;
	background-color: #161618;
	padding:2rem 1rem 1rem 1rem;
	transition: transform 0.5s;
}

.navbar{
	transform: translateX(-100%);
}

.nav-link-icon{
	margin-right: 10px;
	color: #fff;
	height: 1.7rem;
	width: 1.7rem;
	display: flex;
	transition: all 300ms ease-in-out;
}
.nav-btn{
	position: absolute;
	transform: translateX(40px);
	top: 20px;
	right: 0px;	
	width:40px;
	height: 60px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #161618;
	outline: none;
	border: none;
	font-size: 1rem;
	padding: 5px 10px;
	cursor: pointer;
	color: #fff;
}

.logo{
	display: block;
	width: 100px;
	margin: auto;
	background:transparent;
}

.logo img{
	display: block;
	width: 100%;
	height: 100%;
}

.nav-link{
	display: flex;
	align-items: center;
	color: #ffff;
	text-decoration: none;
	padding: 10px 1rem;
	border-radius: 5px;
	margin-bottom: 5px;
	transition: all 300ms ease;
	font-weight: 400;
}

.nav-link:hover{
	background-color:#B9B4C7;
	color: #161618;
}

.nav-link span{
	margin-left: 10px;
}

.nav-top{
	margin-top: 10rem;
}

.mobile-nav{
	background-color:#352F44;
	width: 100%;
	height:40px;
	display: none;
}

.mobile-nav-btn{
	color: #FAF0E6;
	background: transparent;
	outline: none;
	border: none;
	margin: 0 10px;
}

@media only screen and (max-width: 768px){
	nav{
		width: 40%;
		padding: 10px;
	}
}

@media only screen and (max-width: 450px){
	.mobile-nav{
		display: flex;
		align-items: center;
	}
	nav{
		width: 70%;
		top: 38px;
		min-height: calc(100vh - 38px);
	}

	.nav-btn{
		display: none;
	}
}