@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main Css  */
@layer components{
    body{
        background-color: #f5f8fa;
        font-family:'Nunito', sans-serif;
        margin: 0;
        padding: 0;
    }
    .home{
        @apply h-screen
    }
    .login-Form{
        @apply flex flex-col w-fit border gap-3;
    }
    .form-Container{
        @apply flex gap-6 ;
    }
    .label-Container{
        @apply flex flex-col gap-2;
    }
    .input-Container{
        @apply flex flex-col gap-2;
    }
    input{
        @apply border-black border-[1px] rounded-2xl;
    }
    .button-Container{
     @apply flex flex-col items-end;
    }
    .submit-Button{
        @apply bg-yellow-400 p-1 px-3 rounded-lg text-white font-medium mr-3;
    }
    .navbar-Main{
        @apply flex flex-col bg-gray-200/80 h-screen 
    }
    .nav-Op{
        @apply flex w-36 gap-10 py-4;
    }
    .LoginErrorMessage{
        @apply p-3 bg-rose-400 border-red-600 border-4 
    }
    .nav-Header{
        @apply flex w-48 gap-10 py-4 pt-24
    }
    .nav-Op-Label{
        @apply  tracking-wide ;
    }
    .nav-Header-Label{
        @apply font-semibold tracking-wide ;
    }
    .home{
        @apply flex bg-gray-800
    }
    .navops-List{
        @apply flex flex-col
    }
    .nav-Op-Container{
        @apply cursor-pointer rounded-sm pl-8 w-fit pr-4
    }
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.App{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}
.page{
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: margin-left 0.5s;
}

.page-with-navbar{
	margin-left: 18%;
}

@media only screen and (max-width: 768px){
	.page-with-navbar{
		width: 100%;
		margin-left: 0;
	}

}
